<web-app>
<security-constraint>
        <display-name>Login Page</display-name>
        <web-resource-collection>
            <web-resource-name>hm</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>student</role-name>
        </auth-constraint>
    </security-constraint>
    
 <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    
    
     <security-role>
        <description/>
        <role-name>admin</role-name>
        <role-name>student</role-name>
    </security-role>
</web-app>     