<?xml version="1.0" encoding="UTF-8"?>
<web-app>  
  
<servlet>  
<servlet-name>AtulRai</servlet-name>  
<jsp-file>/config_implicit_object.jsp</jsp-file>  
  
<init-param>  
<param-name>dname</param-name>  
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
</init-param>  
  
</servlet>  
  
<servlet-mapping>  
<servlet-name>AtulRai</servlet-name>  
<url-pattern>/config_implicit_object</url-pattern>  
</servlet-mapping>  
  
</web-app>  