<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
	    
	    <servlet-name>mvc</servlet-name>
		<servlet-class>jsp.ControllerServlet</servlet-class>
	    
		<servlet-name>AtulRai</servlet-name>
		<jsp-file>/config_implicit_object.jsp</jsp-file>
		<jsp-file>/application_implicit_object.jsp</jsp-file>

		<init-param>
			<param-name>dname</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
	    
	    <servlet-name>mvc</servlet-name>
		<url-pattern>/ControllerServlet</url-pattern>
	    
		<servlet-name>AtulRai</servlet-name>
		<url-pattern>/config_implicit_object</url-pattern>
		<url-pattern>/application_implicit_object</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>dr_name</param-name>
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver.AtulRai</param-value>
	</context-param>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>


</web-app>  