<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>requestdispatcher.html</welcome-file>
		<welcome-file>sendredirect.html</welcome-file>
		<welcome-file>cookies.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>atulrai.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>atulrai.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/loginservlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/loginservlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MySearcher</display-name>
		<servlet-name>MySearcher</servlet-name>
		<servlet-class>atulrai.MySearcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySearcher</servlet-name>
		<url-pattern>/MySearcher</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfig</servlet-name>
		<servlet-class>atulrai.ServletConfig</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfig</servlet-name>
		<url-pattern>/servletconfig</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfig1</servlet-name>
		<servlet-class>atulrai.ServletConfig1</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>system</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>oracle</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfig1</servlet-name>
		<url-pattern>/servletconfig1</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>dname</param-name>
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver @AtulRai</param-value>
	</context-param>
	<context-param>
		<param-name>dname</param-name>
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>system</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>oracle</param-value>
	</context-param>
	<servlet>
		<servlet-name>ServletAttribute</servlet-name>
		<servlet-class>atulrai.ServletAttribute</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAttribute</servlet-name>
		<url-pattern>/ServletAttribute</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletAttribute1</servlet-name>
		<servlet-class>atulrai.ServletAttribute1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAttribute1</servlet-name>
		<url-pattern>/ServletAttribute1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Cookie1</servlet-name>
		<servlet-class>atulrai.CookieServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cookie1</servlet-name>
		<url-pattern>/servletcookie1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Cookie2</servlet-name>
		<servlet-class>atulrai.CookieServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cookie2</servlet-name>
		<url-pattern>/servletcookie2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>filterservlet</servlet-name>
		<servlet-class>atulrai.ServletFilter2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>filterservlet</servlet-name>
		<url-pattern>/servletfilter</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>Filter</filter-name>
		<filter-class>atulrai.ServletFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/servletfilter</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AuthenticationFilterServlet</servlet-name>
		<servlet-class>atulrai.AuthenticationFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationFilterServlet</servlet-name>
		<url-pattern>/authentication</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>atulrai.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/authentication</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Filterconfigservlet</servlet-name>
		<servlet-class>atulrai.FilterConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Filterconfigservlet</servlet-name>
		<url-pattern>/myfilterconfig</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>FilterConfigFilter</filter-name>
		<filter-class>atulrai.FilterConfigFilter</filter-class>
		<init-param>
			<param-name>Construction</param-name>
			<param-value>no</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterConfigFilter</filter-name>
		<url-pattern>/myfilterconfig</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Time</servlet-name>
		<servlet-class>atulrai.CurrentTime</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Time</servlet-name>
		<url-pattern>/timezone</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>RollNoSearch</servlet-name>
		<servlet-class>atulrai.ResultSearchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RollNoSearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>





</web-app>