<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ServletLearning</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>atulrai</servlet-name>
		<servlet-class>atulrai.DynamicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>atulrai</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>myheader</servlet-name>
		<servlet-class>atulrai.ShowHeaders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myheader</servlet-name>
		<url-pattern>/run</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>atulrai.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/go</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>atulrai.WelcomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>



</web-app>